body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

h1 {
  font-size: 5em;
  font-family: "Bona Nova", serif;
}
.letter {
  transition: color 1000ms;
}
